

body{
    background-color: #F6F8F9;
    margin: 0px;
}
/*Inizio header*/
header{
    background-color: white;
}

.logo {
    display: inline-block;
    margin-left: 20px;
}

.titolo {
    display: inline-block;
    font-size: 50px;
}
/*fine header*/

/*Inizio main*/
.container{
  width: 65%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 5%;
  padding: auto;
  background-color: white;
  border: 1px solid lightgray; 
  border-radius: 5%;
}

.bottone{
  border: 1px solid;
  border-radius: 10%;
  padding: 10px;
  margin-top: 15px;
  font-size: 15px;
 
}

.blu {
  background-color: #47ADF1;
  color: white;
  margin-left: 100px;

}

.grigio{
  background-color: white;
  color: lightgray;
}

hr {
    color: lightgray;
}
/*fine main*/
li{
    list-style-type: none;
}

.task{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
}

.oke {
    border: 2px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 5px;
    text-align:center
}

.nope{
    border: 2px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 5px;
    text-align:center

}

.sales{
    color: white;
    background-color: #B0C926;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}

.editorial{
    color: white;
    background-color: #45ABEA;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}

.q1{
    color: white;
    background-color:  #9C72E4;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}

.recruiting{
    color: white;
    background-color: #65C1AA;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}

.mobile{
    color: white;
    background-color: #F29E33;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}

.website{
    color: white;
    background-color: #D863A1;
    padding: 5px;
    border-radius: 30%;
    font-size: 15px;
}
