

body{
    background-color: #F6F8F9;
}
/*Inizio header*/
header{
    background-color: white;
}

.logo {
    display: inline-block;
    margin-left: 20px;
}

.titolo {
    display: inline-block;
    font-size: 50px;
}
/*fine header*/

/*Inizio main*/
.container{
  width: 65%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 5%;
  padding: auto;
  background-color: white;
  border: 1px solid lightgray; 
  border-radius: 5%;
}

.bottone{
  border: 1px solid;
  border-radius: 10%;
  padding: 10px;
  margin-top: 15px;
  font-size: 15px;
 
}

.blu {
  background-color: #47ADF1;
  color: white;
  margin-left: 100px;

}

.grigio{
  background-color: white;
  color: lightgray;
}

hr {
    color: lightgray;
}
/*fine main*/
